@font-face{
    src: url("./Crimson_Text/CrimsonText-Regular.ttf");
    font-family: Crimson;
}
@font-face{
    src: url("./Rouge_Script/RougeScript-Regular.ttf");
    font-family: rouge;
}
@font-face{
    src: url("./Pacifico/Pacifico-Regular.ttf");
    font-family: pacifico;
}

*, *::before, *::after{
	box-sizing: border-box;
	scroll-behavior: smooth;
	scrollbar-width:none; /*Mozilla*/
	-ms-overflow-style: none; /*IE and EDGE*/
	font-family: Crimson;
}
/* Chrome, Safari and Opera Scrollbar */
*::-webkit-scrollbar {
  display: none;
}
body{
	margin:0;
	padding: 0;
	outline: none;
}
.container{
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
}
a{
	color:inherit;
}
img{
	max-width: 100%;
}
span{
	display: block;
}
.flex,.flex-space{
	display: flex;
	align-items: center;
}
.flex-space{
	justify-content: space-between;
}
.name{
	font-family: rouge;
}
/*Header Section*/
.nav{
	width: 100%;
	background: #000;
	position: sticky;
	top:0;
	left:0;
	color:#FFF;
	z-index: 1;
}
.nav .container{
	padding:0.3em 0;
}
.logo-container{
	width:2em;
	height: 2em;
}
/*Top*/
.top{
	background:url('Images/back.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.9;
	height:100vh;
	background-attachment: scroll;
	background-attachment: fixed;
}
.intro{
	text-align: center;
}
.intro .container{
	align-items: center;
	font-size: 1.8rem;
	padding:4em 0;
	flex-direction: column;
	justify-content: center;
}
.intro-name,.intro-text{
	color:#FFF;
}
.intro-text{
	padding-top:0.5em;
	font-size: 1.1rem;
}
.intro-name{
	font-family: pacifico;
	padding-bottom:0.3em;
	border-bottom:0.1px solid #FFF; 
	width:100%;
}
.picture-credit{
	position: absolute;
	bottom:0;
	right:0;
	color:#FFF;
	font-size: 0.8rem;
}
/*Profile Section*/
h1{
	font-size: 2rem;
	text-align: center;
	padding-bottom:0.8em;
}
.section-title{
	box-shadow:0 1px 0 0 gray;
}
.profile-section{
	height: 100vh;
}
.profile-section .container{
	font-size: 1.2rem;
	/*padding:1em 0;*/
}
.personal-details{
	padding:1em 0; 
}
.detail{
	font-size: 1.2rem;
	padding: 0.5em 0;
	border: 1px solid red;
	justify-content: center;
}
.title{
	font-weight: bold;
}
.image-container{
	height:12em;
	width:12em;

	margin:0 auto;
}
.image{
	border-radius: 50%;
	border:1px solid #000;
}

.about-desktop{
	display: none;
}
/*
.skills{
	font-size: 1rem;
}*/
/*Middle*/
/*.middle-section{
	height:100vh;
}*/
/*Work*/
.work{
	height: 100vh;
	background: lightgreen;
}
.work .container{
	position: relative;
	top: 10%;
	padding:1em 0;
}
/*Education*/
.education{
	height: 100vh;
}
.details{
	/*border:1px solid red;*/
	width:85%;
	padding: 0.5em 0;
}
/*Bottom section*/
/*.bottom-section{
	background: red;
	height:100vh;
}*/
/*Projects*/
.projects{
	border:1px solid darkgreen;
	height: 100vh;
}
.projects .container{
	background: violet;
	position: relative;
	top: 10%;
}
.project-cards{
	justify-content: center;
	overflow-x: auto;
}
.card{
	border:1px solid darkblue;
	height:18em;
}
.status{
	background: green;
	font-size: 0.8rem;
	padding:0.3em 0.5em;
	border-radius: 20px;
}
/*Footer*/
footer{
	height:100vh;
	background: skyblue;
	position: relative;
}
footer .container{
	padding: 1em 0;
	text-align: center;
	
	border:1px solid red;
	/*height: 100%;*/
}
.links{
	justify-content: center;
}
.foot-head{

}
.email-icon{
	background: url('Icons/email.svg');
}
.linkedin-icon{
	background: url('Images/linkedin.png');
}
.foot-icon{
	background-repeat: no-repeat;
	background-position: center;
	background-size: 2em;
	height: 2em;
	width: 2em;
}
.credit{
	text-align: right;
    position:absolute;
    bottom:0;
    right:0.5em;
}


@media (min-width: 800px){
	.intro .container{
		align-items: center;
		font-size: 2.5rem;
		padding:1em 0;
		flex-direction: row;
		justify-content: center;
		margin-left: 3.5em;
	}
	.intro-name,.intro-text{
		color:#FFF;
		/*padding:0 2em;*/
	}
	.intro-text{
		padding:0;
		margin:0;
		padding-left:0.3em;
		font-size: 2rem;
	}
	.intro-name{
		border:none;
		width:auto;
		border-right:0.1px solid #FFF; 
		padding:0;
		padding-right:0.3em;
	}
	/*Profile Details*/
	h1{
		font-size: 3rem;
	}
	.image-container{
		margin: 0;
	}
	.about-section{
		display: none;
	}
	.about-desktop{
		display: block;
		border:1px solid blue;
		width:80%;
		margin-left:1em;
	}

	.detail{
		justify-content: flex-start;
	}
	.desktop-image-title{
		align-items: center;
		border:1px solid red;
	}
}